$contentWidth: 1248px; // 版心

$appHeaderHeight: 64px; // app header高度
$navBarHeight: 84px; // 导航栏高 68 + 16

$logoWidth: 250px; //logo
$logoHeight: 50px;

$primaryColor: #e51e18;
$secondaryColor: #ff420f;
// 背景精灵图
@mixin gbSpride() {
  // background-image: url();
  background-repeat: no-repeat;
}

@mixin elementSticky($top: 0px, $z: 100) {
  position: sticky;
  top: $top;
  z-index: $z;
}

@mixin hoverEffect() {
  transition: all 0.2s linear;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}

// 最多显示一行
@mixin textEllipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 最多显示多少行
@mixin textMultiEllipsis($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; // 多少行在这里修改即可
  // overflow: hidden;
  -webkit-box-orient: vertical;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
